.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0,5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}

/*=================== BREAKPOINTS =================*/
/* For large devices */
@media screen and (max-width: 992px) {
    .container {
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5);
    }
  
    .button {
      padding: 1rem 1.75rem;
    }
  
    .button__icon {
      width: 22px;
      height: 22px;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    body {
      margin: 0 0 var(--header-height);
    }
  
    .section {
      padding: 2rem 0 4rem;
    }
  
    .section__subtitle {
      margin-bottom: var(--mb-3);
    }
  }
  
  @media screen and (max-width: 576px) {
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    :root {
      --big-font-size: 2.25rem;
    }
  
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  }