/*=================== GOOGLE FONTS =====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=================== VARIABLE CSS =====================*/

:root {
  --header-height: 3rem;

  /*=================== Colors =====================*/
  /*Coloe mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  
  /*=================== Font and typography ===================*/
  --body-font: "Poppins", sans-serif;
  
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*=================== Font Weights =================*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

}